.is-hidden {
  display: none;
}

.gallery {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery-img {
  width: 100%;
  height: auto;
}
.photo-card {
  width: 23%;
}
.search-form {
  text-align: center;
  padding: 30px;
  background-color: aqua;
  font-size: 30px;
}
input {
  font-size: 25px;
}

button {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(25, 169, 235);
}

.load-more {
  margin: auto;
  text-align: center;
}
